body {
    font-family: "Poppins", sans-serif;
    
}

/* 
#hero {
    background-image: url('bernabeu.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
} */


